@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

body {
    background: #191A1A;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #fff;
}

body, input, button, textarea, select {
    font-family: "Kanit", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, form, img {
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff; /* или другой нужный цвет */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Map*/

/* Убираем белый фон и рамку у popup */
.transparent-popup .mapboxgl-popup-content {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

/* Убираем белый треугольник-стрелку */
.transparent-popup .mapboxgl-popup-tip {
    display: none !important;
}

/* Стилизуем текст станции */
.station-name {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    margin-bottom: 6px; /* Поднимает текст выше точки */
}

.schedule-popup .mapboxgl-popup-content {
    padding: 15px;
    max-height: 500px;
    overflow-y: auto;
}

.schedule-popup .mapboxgl-popup-close-button {
    font-size: 20px;
    padding: 5px;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
    min-width: 20px;
    color: #222;
}

.schedule-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    font-size: 10px;
    color: #222;
}

.direction-schedule h6 {
    color:#ddd;   /* или #f8f9fa */
    font-weight:600;
    margin:4px 0 2px;
}


/*#region ScheduleComponent*/

.station-schedule {
    max-width: 700px;
    font-family: Arial, sans-serif;
}

.station-schedule h4 {
    margin-top: 0;
    color: #333;
    /*border-bottom: 2px solid #333;*/
    padding-bottom: 5px;
}

.line-schedule {
    margin-bottom: 20px;
}

.direction-schedule {
    margin-bottom: 15px;
}

.schedule-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 11px;
    margin-bottom: 10px;
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ddd;
    padding: 2px;
    text-align: center;
    min-width: 20px;
}

.schedule-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    font-size: 10px;
}

.schedule-table td {
    vertical-align: top;
    min-height: 20px;
    font-size: 10px;
}

.schedule-table td div {
    margin: 1px 0;
}

/*#endregion*/