@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');

body {
    background: #191A1A;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    color: #fff;
}

body, input, button, textarea, select {
    font-family: "Kanit", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, form, img {
    padding: 0;
    margin: 0;
    border: none;
}

a {
    text-decoration: none;
    color: #fff;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff; /* или другой нужный цвет */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
