@using RigaMetro.Web.Models.ViewModels.Schedule
@model HourlySchedule

<table class="schedule-table">
  <thead>
  <tr>
    @for (var hour = 0; hour < 24; hour++) {
      <th>@hour.ToString("00")</th>
    }
  </tr>
  </thead>
  <tbody>
  <tr>
    @for (var hour = 0; hour < 24; hour++) {
      <td>
        @foreach (var minute in Model[hour]) {
          <div>@minute.ToString("00")</div>
        }
      </td>
    }
  </tr>
  </tbody>
</table>